<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Arte - Comércio de Artesanato</title>
    <link rel="stylesheet" href="principal.css"/>
</head>
<body>
    <header>
        <div class="cabecalho">
            <figure>
                <img src="imagens/logo_.png" alt="logotipo do Soul Arte"/>
            </figure>
            <form action="resultado.html" method="get">
                <div class="busca">
                    <input type="text" name="busca" id="idbusca"/>
                    <input type="submit" value=" " id="lupa"/>
                </div>
            </form>
            <nav class="menu-user">
                <ul>
                    <li>
                        <a href="login.html"><img src="imagens/header/icon-login.png" alt="entrar ou registrar-se"></a>
                    </li>
                    <li>
                        <a href="favoritos.html"><img src="imagens/header/icon-heart.png" alt="ver favoritos"></a>
                    </li>
                    <li>
                        <a href="carrinho.html"><img src="imagens/header/icon-carrinho-de-compras.png" alt="ver carrinho de compras"></a>
                    </li>
                </ul>
            </nav>
            <nav class="menu-nav">
                <ul>
                    <!-- Aqui a gente pode fazer o scroll para a parte de categorias da própria página com JavaScript -->
                    <li><a href="#">CATEGORIAS</a></li>
                    <li><a href="sac.html">SERVIÇO DE ATENDIMENTO AO CLIENTE</a></li>
                </ul>
            </nav>
        </div>
        <a href="#" id="setaL"><img src="imagens/header/setaLeft-header.png"/></a>
        <a href="#" id="setaR"><img src="imagens/header/setaRight-header.png"/></a>
    </header>
    <main>
        <h1>Iraikare ridicula</h1>
    </main>
</body>
</html>