<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Arte - Comércio de Artesanato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="~/Content/principal.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="cabecalho">
            <div class="cabecalho-margem">
                <figure>
                    <a href="/Home/Index"><img src="~/Content/imagens/logo_.png" width="120" alt="logotipo do Soul Arte" /></a>
                </figure>
                <form action="resultado.html" method="get">
                    <div class="busca">
                        <input type="text" name="busca" id="idbusca" />
                        <input type="submit" value=" " id="lupa" />
                    </div>
                </form>
                <nav class="menu-user">
                    <ul>
                        <li>
                            <a href="/Home/Login"><img src="~/Content/imagens/header/icon-login.png" alt="entrar ou registrar-se"></a>
                        </li>
                        <li>
                            <a href="favoritos.html"><img src="~/Content/imagens/header/icon-heart.png" alt="ver favoritos"></a>
                        </li>
                        <li>
                            <a href="carrinho.html"><img src="~/Content/imagens/header/icon-carrinho-de-compras.png" alt="ver carrinho de compras"></a>
                        </li>
                    </ul>
                </nav>
                <nav class="menu-nav">
                    <ul>
                        <!-- Aqui a gente pode fazer o scroll para a parte de categorias da própria página com JavaScript -->
                        <li><a href="#cat-link">CATEGORIAS</a></li>
                        <li><a href="sac.html">SERVIÇO DE ATENDIMENTO AO CLIENTE</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Carousel bootstrap -->

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/Content/imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja 1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja 1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja 1.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Fim do carousel -->

    </header>

    <div>
        @RenderBody()

    </div>
    <footer>
        <div class="cabecalho-margem">
            <div class="redes">
                <p>REDES SOCIAIS</p>
                <figure>
                    <a href="#"><img src="~/Content/imagens/footer/mdi_instagram.svg" /></a>
                    <a href="#"><img src="~/Content/imagens/footer/mingcute_facebook-line.svg" /></a>
                    <a href="#"><img src="~/Content/imagens/footer/ri_twitter-line.svg" /></a>
                </figure>
            </div>
            <div class="ajuda">
                <p>Ajuda</p>
                <a href="sac.html">Serviço de atendimento ao cliente</a>
                </br>
                <a href="sac.html">Perguntas frequentes</a>
            </div>
            <div>
                <p>NOS CONTACTE</p>
                <address>soul.arte@gmail.com</address>
                <address>+55 (84) 9 9999-9999</address>
            </div>
            <div class="copyright">
                <p>© Desenvolvido por Iara Monyke, Iraikare Rodrigues, Luiza Varella e Renan Balbino.</p>
            </div>
        </div>

    </footer>
</body>
</html>