@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bahianita&family=Bebas+Neue&family=Inter&display=swap');
/* 
font-family: 'Bahiana', cursive;
font-family: 'Bahianita', cursive;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Inter', sans-serif;
*/
* {
    /* font-family: 'Bahiana', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li {
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
}


/* HEADER */
header {
    /* background-image: url(imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja\ 1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
}

.cabecalho {
    background-color: rgba(242, 84, 27, 0.76);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 0;
    width: 100%;
}

.cabecalho-margem {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .carousel-control-prev-icon {
    background-image: url(imagens/header/setaLeft-header.png);
    width: 65px;
    height: 65px;
    margin-left: 0px;
}

header .carousel-control-next-icon {
    background-image: url(imagens/header/setaRight-header.png);
    width: 65px;
    height: 65px;
    margin-right: 0px;
}

header button[type=button] {
    height: 5em;
    margin: auto 0;
}

header figure {
    width: 25%;
}

header form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.busca {
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    padding: 2px 5px;
}

    .busca input[type=text] {
        border: none;
        outline: none;
        color: #F2541B;
        padding: 2px;
        width: 28em;
        font-size: 18px;
        border-radius: 20px;
        margin: 0 10px;
    }

#lupa {
    background-image: url(imagens/header/icon-lupa.png);
    background-size: auto;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

nav.menu-user {
    width: 25%;
}

.menu-user ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
}

.menu-user li {
    padding: 15px;
}

    .menu-user li a img {
        width: 30px;
    }

.menu-nav {
    margin: 0 auto;
    max-width: 500px;
}

    .menu-nav ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .menu-nav a {
        text-decoration: none;
        padding: 20px;
        color: white;
        font-size: 20px;
    }

        .menu-nav a:hover {
            color: #FFD39F;
        }

#setaR {
    position: absolute;
    top: 60%;
    right: 1%;
}

#setaL {
    position: absolute;
    top: 60%;
    left: 1%;
}

ul, ol {
    padding-left: 0;
}

/* MAIN */
main {
    margin: 4em auto;
}

#carousel-cat {
    margin: 1em 0;
    background-color: #e9e4d8;
    padding: 3em 7em;
}

    #carousel-cat > .container {
        max-width: 1050px;
    }

    #carousel-cat .carousel-control-prev {
        top: 33%;
        height: 40px;
        width: 40px;
        margin-left: -5em;
    }

    #carousel-cat .carousel-control-next {
        top: 33%;
        height: 40px;
        width: 40px;
        margin-right: -5em;
    }

h1 {
    text-align: center;
    font-family: 'Bahiana', cursive;
    font-size: 50px;
    margin-bottom: 0.5em;
    color: #F2541B;
}

section .carousel-control-prev-icon {
    background-image: url(imagens/home/seta-left-cat-index.png);
    position: absolute;
    width: 40px;
    height: 40px;
}

section .carousel-control-next-icon {
    background-image: url(imagens/home/seta-right-cat-index.png);
    position: absolute;
    width: 40px;
    height: 40px;
}

section .col {
    text-align: center;
}

.col p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #D97B29;
    padding-top: 6px;
}

.sobre-nos {
    margin: 3em auto;
    background: linear-gradient(to right, #e9e4d8, transparent);
}

    .sobre-nos .margem {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5em 0;
    }

.sobre-margem {
    margin: 0 64px;
}

.sobre {
    width: 60%;
    color: #F2541B;
}

.sobre-nos h2 {
    font-family: 'Bahiana', cursive;
    font-size: 50px;
    margin-bottom: 0.5em;
}

.sobre-nos p {
    margin-right: 2em;
    font-size: 16px;
}

.sobre-nos img {
    width: 300px;
}

h5 {
    color: #F23869;
    font-family: 'Bebas Neue', sans serif;
    font-size: 20px;
}

.explorar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.explorar li {
    font-style: italic;
    border-bottom: 0.5px solid #F23869;
}

/* FOOTER */

footer {
    background-color: rgba(242, 84, 27, 0.76);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em 0;
}

    footer p {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        color: white;
    }

    footer div {
        width: 22%;
    }

        footer div figure img {
            padding: 5px;
        }

    footer .ajuda a {
        font-style: italic;
        border-bottom: 0.5px solid white;
        color: white;
    }

    footer address {
        color: white;
    }

.copyright {
    margin: auto 0;
}

.redes a img {
    width: 40px;
}
/*migalha de pão*/
#migalha {
    margin: 0 64px;
}

    #migalha nav {
        font-size: 20px;
        font-family: 'Bebas Neue', sans-serif;
        margin: 25px 0 0 0;
    }

        #migalha nav ol li a {
            text-decoration: none;
            color: #D97B29;
        }

        #migalha nav ol li {
            margin-right: 0.5em;
            color: #D97B29;
        }

            #migalha nav ol li a:hover {
                color: #F2541B;
            }

        #migalha nav ol {
            list-style-type: none;
            display: flex;
        }

#migalha-margem {
    display: block;
}

    #migalha-margem nav, #migalha-margem h1 {
        margin-left: 0;
    }

    #migalha-margem h1 {
        font-size: 64px;
    }

/*carossel categoria das outras paginas*/
#cat-escondido {
    position: absolute;
    width: 98.9vw;
    visibility: hidden;
}

    #cat-escondido > div > p a {
        position: absolute;
        font-size: 30px;
        font-family: 'Bahiana', cursive;
        color: #F2541B;
        right: 45px;
        top: 30px;
    }

/*card de produto*/
.card-produto {
    background-color: #e9e4d8;
    padding: 20px;
    margin-bottom: 2em;
}

    .card-produto p {
        max-width: 155px;
        font-size: 12px;
    }

    .card-produto a {
        color: black;
    }

    .card-produto h3 {
        font-size: 18px;
        font-family: 'Bebas Neue', sans-serif;
        color: #F2541B;
    }

    .card-produto h4 {
        font-size: 20px;
        font-family: 'Bahiana', cursive;
        color: #D97B29;
    }

    .card-produto div div {
        width: 4em;
        text-align: center;
    }

    .card-produto > div, .card-produto a > div {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 10px 0 0px 0;
    }

        .card-produto a > div > div > img, .card-produto > div > div > img {
            height: 20px;
        }

.img-prod {
    width: 150px;
    text-align: center;
    background-color: #F23869;
    padding: 3px;
    transform: rotate(-1.2deg);
}

    .img-prod img {
        width: 140px;
        transform: rotate(1.2deg);
    }

.margem {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.cards-prod {
    margin: 0 64px;
}

    .cards-prod .margem {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* margin: 0 auto;
  max-width: 80em; */
    }

.explorar {
    margin: 0 64px;
}
