@model WebApplication1.Models.Vendedor

@{
    Layout = "~/Views/Shared/_LayoutHomeVendedor.cshtml";
    ViewBag.Title = "HOME PAGE";
}

<head>
    <link rel="stylesheet" href="~/Content/categorias.css" />
    <link rel="stylesheet" href="~/Content/loja.css" />
</head>
<div>
    <main class="margem">
        <!-- <nav aria-label="...">
    <ul class="pagination pagination-lg">
      <li class="page-item disabled">
        <a class="page-link" href="loja.html" tabindex="-1">Geral</a>
      </li>
      <li class="page-item"><a class="page-link" href="lojaprodutos.html">Produtos</a></li>
    </ul>
    </nav>-->
        <section class="perfil">
            <div id="ft">
                <div id="borda-tr">
                    <div id="borda-r">
        <figure>
          <img src = "/Content/imagens/loja/perfilvendedor.png"/>
        </figure>
      </div>
                </div>
            </div>
            <div class="descricaoperfil">
                <div id="edicao">
                    <h1 id="vendedor">VENDEDOR</h1>
                    <div class="botao">
                        <a href="editarperfil.html">
                            <input type="submit" value="Editar perfil" />
                        </a>
                    </div>
                </div>
                <h2>Descrição</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a nulla sed dui convallis volutpat nec at sem. Proin sit amet nunc ut urna facilisis malesuada ac sed tortor. Donec ultrices sed nisi ac vehicula. Nullam sed auctor odio. Vestibulum vulputate placerat eros, vitae egestas neque finibus sed. Nam et quam magna. Etiam consectetur sem nec nisl porttitor euismod.</p>
                <div class="detalhesperfil">
                    <div id="descricao">
                        <h5>vendas no último mÊs: <span class="mudarcor">140</span></h5>
                        <h5>resposta ao chat: <span class="mudarcor">100%</span></h5>
                    </div>
                    <div id="nota">
                        <h1 style="font-size: 2em; margin-right: 1em;">Avaliações:</h1>
                        <h1>4.5</h1>
                        <img src="~/Content/imagens/loja/starperfil.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- <section id = "galeria"> -->
        <!-- <h1>Galeria de Fotos</h1> -->
        <section>
            <h1>Produtos</h1>
            <div style="display: flex; flex-wrap: wrap; column-gap: 1em;">
                @foreach (var item in Model.produtos)
                {
                    <div class="card-produto">
                        <figure class="img-prod">
                            <img src="@Url.Action("GetLogotipo", "Produto", new { id = item.ProdutoId })" alt="Imagem do Produto" />
                        </figure>
                            <div>
                                <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                                @if (item.Preco != 0)
                                {
                                    <h4>R$ @Html.DisplayFor(modelItem => item.Preco)</h4>
                                }
                            </div>
                            @if (item.Descricao != null)
                            {
                                <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                            }
                            <div>
                                <figure>
                                    <img src="~/Content/imagens/categorias/5 estrelas.png" />
                                </figure>
                                <div>
                                    <img src="~/Content/imagens/categorias/coracao-rosa.png" />
                                    <img src="~/Content/imagens/categorias/add-car.png" />
                                </div>
                            </div>
                    </div>
                }
            </div>

        </section>
        <div class="botao">
            <a href="/Vendedor/Adicionar_produto">
                <input type="submit" value="Adicionar produto" />
            </a>
        </div>
    </main>
</div>  