@model WebApplication1.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Arte - Comércio de Artesanato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <link href="~/Content/principal.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="cabecalho">
            <figure>
                <a href="/Home/Index"><img src="~/Content/imagens/logo_.png" alt="logotipo do Soul Arte" /></a>
            </figure>
            <form action="resultado.html" method="get">
                <div class="busca">
                    <input type="text" name="busca" id="idbusca" />
                    <input type="submit" value=" " id="lupa" />
                </div>
            </form>
            <nav class="menu-user">
                <ul>
                    <li>
                        <a href="perfil_cliente.html"><img src="~/Content/imagens/header/icon-perfil.png" alt="perfil"></a>
                    </li>
                    <li>
                        <a href="favoritos.html"><img src="~/Content/imagens/header/icon-heart.png" alt="ver favoritos"></a>
                    </li>
                    <li>
                        <a href="carrinho.html"><img src="~/Content/imagens/header/icon-carrinho-de-compras.png" alt="ver carrinho de compras"></a>
                    </li>
                </ul>
            </nav>
            <nav class="menu-nav">
                <ul>
                    <!-- Aqui a gente pode fazer o scroll para a parte de categorias da própria página com JavaScript -->
                    <li><a href="#cat-link">CATEGORIAS</a></li>
                    <li><a href="sac.html">SERVIÇO DE ATENDIMENTO AO CLIENTE</a></li>
                </ul>
            </nav>
        </div>

        <!-- Carousel bootstrap -->

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/Content/imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja 1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja 1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/imagens/header/conjunto-de-arte-de-papel-origami-pincel-aquarela-e-palha-em-pano-de-fundo-laranja 1.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Fim do carousel -->

    </header>
    <main>
        <h1 id="cat-link">CATEGORIAS</h1>

        <!-- Categorias carousel -->
        <section id="carousel-cat">
            <div class="container">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col"><a href="categorias.html"><img src="imagens/home/categoria-roupas.png" width="250"><p>Roupas</p></a></div>
                                <div class="col"><img src="imagens/home/categoria-acessorios.png" width="250"><p>Acessórios</p></div>
                                <div class="col"><img src="imagens/home/categoria-ceramicas.png" width="250"><p>Cerâmica</p></div>
                                <div class="col"><img src="imagens/home/categoria-aromaticos.png" width="250"><p>Aromáticos</p></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col"><img src="imagens/home/categoria-pintura.png" width="250"><p>Pintura</p></div>
                                <div class="col"><img src="imagens/home/categoria-beleza.png" width="250"><p>Beleza</p></div>
                                <div class="col"><img src="imagens/home/categoria-decoracao.png" width="250"><p>Decoração</p></div>
                                <div class="col"><img src="imagens/home/categoria-utensilios.png" width="250"><p>Utensílios</p></div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <!--  -->
        <p><a href="avaliacao.html">Deixar avaliação</a></p>

        <section>
        </section>
        <h1>Destaques</h1>
        <section class="cards-prod margem">
            <!--copiem o card dos produtos daqui-->
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item1.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item2.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item3.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item4.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item5.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item6.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item7.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-produto">
                <a href="produto.html">
                    <figure class="img-prod">
                        <img src="imagens/home/item8.png" />
                    </figure>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h4>R$ 25,00</h4>
                    </div>
                    <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                    <div>
                        <figure>
                            <img src="imagens/categorias/5 estrelas.png" />
                        </figure>
                        <div>
                            <img src="imagens/categorias/coracao-rosa.png" />
                            <img src="imagens/categorias/add-car.png" />
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="sobre-nos">
            <div class="margem">
                <div class="sobre">
                    <h2>Sobre nós</h2>
                    <p>Coloquei os lero lero q tavam no doc de visão --> nosso projeto consiste em um ambiente virtual específico para venda de itens confeccionados por pequenos negócios ou artesãos próximos a localidade dos possíveis compradores, contando então com um filtro de localidade, mecanismos de buscas e de chats, em um ambiente acessível onde também será possível acompanhar e avaliar os produtos após a compra. Também prezamos pelo reconhecimento dos artistas então cada loja terá um perfil específico visando isto.</p>
                </div>
                <figure>
                    <img src="imagens/home/sobre.png" />
                </figure>
            </div>
        </section>
        <section class="explorar margem">
            <h5>EXPLORAR</h5>
            <ul>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
                <li>item pesquisado</li>
            </ul>
        </section>
    </main>
    <footer>
        <div class="redes">
            <p>REDES SOCIAIS</p>
            <figure>
                <a href="#"><img src="~/Content/imagens/footer/mdi_instagram.svg" /></a>
                <a href="#"><img src="~/Content/imagens/footer/mingcute_facebook-line.svg" /></a>
                <a href="#"><img src="~/Content/imagens/footer/ri_twitter-line.svg" /></a>
            </figure>
        </div>
        <div class="ajuda">
            <p>Ajuda</p>
            <a href="sac.html">Serviço de atendimento ao cliente</a>
            </br>
            <a href="sac.html">Perguntas frequentes</a>
        </div>
        <div>
            <p>NOS CONTACTE</p>
            <address>soul.arte@gmail.com</address>
            <address>+55 (84) 9 9999-9999</address>
        </div>
        <div class="copyright">
            <p>© Desenvolvido por Iara Monyke, Iraikare Rodrigues, Luiza Varella e Renan Balbino.</p>
        </div>
    </footer>
</body>
</html>