@model WebApplication1.Models.Cliente

@{
    Layout = "~/Views/Shared/_LayoutVisitante.cshtml";
    ViewBag.Title = "SIGN IN - CLIENTE";
}

<head>
    <link href="~/Content/log_in.css" rel="stylesheet" />
    <link href="~/Content/signin_cliente.css" rel="stylesheet" />
    <script>
        function mascara(i) {

            var v = i.value;

            if (isNaN(v[v.length - 1])) { // impede entrar outro caractere que não seja número
                i.value = v.substring(0, v.length - 1);
                return;
            }

            i.setAttribute("maxlength", "14");
            if (v.length == 3 || v.length == 7) i.value += ".";
            if (v.length == 11) i.value += "-";

        }</script>
    <script>
        const handlePhone = (event) => {
            let input = event.target
            input.value = phoneMask(input.value)
        }

        const phoneMask = (value) => {
            if (!value) return ""
            value = value.replace(/\D/g, '')
            value = value.replace(/(\d{2})(\d)/, "($1) $2")
            value = value.replace(/(\d)(\d{4})$/, "$1-$2")
            return value
        }</script>
    <script>
        document.getElementById("telefone").addEventListener("input", function () {
            const telefoneInput = this.value;
            const telefonePattern = /^\(\d{2}\) \d{5}-\d{4}$/;

            if (!telefonePattern.test(telefoneInput)) {
                this.setCustomValidity("Formato de telefone inválido. Use (XX) XXXXX-XXXX");
            } else {
                this.setCustomValidity("");
            }
        });
    </script>
</head>

<div>
    <div id="migalha">
        <div id="migalha-margem" class="margem">
            <nav>
                <ol>
                    <li><a href="/Home/Index">HOME</a></li>
                    <li>></li>
                    <li><a href="/Home/Login">LOGIN</a></li>
                    <li>></li>
                    <li><a href="/Home/SignIn">CADASTRO</a></li>
                    <li>></li>
                    <li><a href="/Home/SignInCliente">CLIENTE</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <main>
        <form action="/Home/SignInCliente" method="post" class="margem">
            <article>
                <h1>CADASTRAR CLIENTE</h1>
                <section id="sign">
                    <div class="dados">
                        <h2>DADOS PESSOAIS</h2>
                        <div class="info">
                            <label for="Nome">NOME:</label>
                            <br>
                            <input type="text" id="Nome" name="Nome" placeholder="Digite seu nome" required />
                        </div>
                        <div class="info">
                            <label for="Email">E-MAIL:</label>
                            <br>
                            <input type="text" id="Email" name="Email" placeholder="Digite seu E-mail" required />
                        </div>
                        <div class="info">
                            <label for="CPF">CPF</label>
                            <input oninput="mascara(this)" id="CPF" name="CPF" placeholder="000.000.000-00" required type="text">
                        </div>
                        <div class="info">
                            <label for="DataNascimento">DATA DE NASCIMENTO:</label>
                            <br>
                            <input type="date" id="DataNascimento" name="DataNascimento" required />
                        </div>
                        <div class="info">
                            <label for="Telefone">TELEFONE:</label>
                            <br>
                            <input type="text" id="telefone" name="Telefone" placeholder="(00) 0000-0000" required onkeyup="handlePhone(event)" />
                            <!-- <input type="text" id = "tel" name="telefone" data-mask="(00) 0000-0000" data-mask-selectonfocus="true" required/> -->
                            <!-- <input type = "text" id="nickname" placeholder="Digite seu nome" required/> -->
                        </div>
                        <div class="info" id="passwd">
                            <label for="Senha">SENHA:</label>
                            <br>
                            <input type="text" id="Senha" name="Senha" placeholder="Digite sua senha" required />
                            <!-- <div id = "senhaletra">
                            <p>*Mínimo 6 digitos tendo pelo menos 1 número.</p>
                            -->
                        </div>
                    </div>
                </section>
                <section id="in">
                    <div class="foto">
                        <h2>FOTO DE PERFIL</h2>
                        <div id="icon">
                            <figure id="perfil">
                                <img src="~/Content/imagens/fotoperfil.png" />
                            </figure>
                        </div>
                        <div id="alterar">
                            <a href="1.html">EDITAR</a>
                            <p>|</p>
                            <a href="1.html">EXCLUIR</a>
                        </div>
                    </div>
                    <div id="assinar">
                        <div class="termos">
                            <input type="checkbox" id="termo" name="termo" checked required>
                            <label for="termo">*Ao finalizar meu cadastro, confirmo que li e aceitei os <a href=2.html>Termos e Condições.</a></label>
                        </div>
                        <div class="newsletter">
                            <input type="checkbox" id="news" name="news" checked>
                            <label for="news">*Desejo receber notícias sobre ofertas e novidades em meu e-mail.</label>
                        </div>
                        <input id="enviar" type="submit" value="CRIAR" />
                    </div>
                </section>
            </article>
        </form>
    </main>

</div>

   