
@{
    Layout = "~/Views/Shared/_LayoutVisitante.cshtml";
    ViewBag.Title = "SIGN IN";
}

<head>
    <link href="~/Content/log_in.css" rel="stylesheet" />
    <link href="~/Content/sign_in.css" rel="stylesheet" />
</head>

<div>
    <div id="migalha">
        <div id="migalha-margem" class="margem">
            <nav>
                <ol>
                    <li><a href="index.html">HOME</a></li>
                    <li>></li>
                    <li><a href="log_in.html">LOGIN</a></li>
                    <li>></li>
                    <li><a href="sign_in.html">CADASTRO</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <main>
        <section class="margem">
            <h1>ESCOLHA O PERFIL DESEJADO:</h1>
            <div id="sign">
                <div class="cliente">
                    <figure><img src="~/Content/imagens/signin/cliente.png"><img /></figure>
                    <div>
                        <h2>CLIENTE</h2>
                        <p>Quero poder fazer compras e seguir novas lojas!</p>
                        <form action="/Home/SignInCliente">
                            <input id="enviar" type="submit" value="COMEÇAR" />
                        </form>
                    </div>
                </div>
                <div class="vendedor">
                    <figure><img src="~/Content/imagens/signin/vendedor.png"><img /></figure>
                    <div>
                        <h2>VENDEDOR</h2>
                        <p>Quero criar minha lojinha virtual e vender muito!</p>
                        <form action="sign_invendedor.html">
                            <input id="enviar" type="submit" value="COMEÇAR" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
